body {
    background-color: #4349ec4d!important;
}

main {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center!important;
}

h2
h5
button {
  text-align: center;
}

h2 {
    padding: 4%;
    color: rgb(50, 89, 11)!important;
}

h5 {
  color: brown!important;
  margin-top: 15%!important;
  margin-bottom: 10%!important;
}

p {
    padding: 2%;
}

.planet {
    position: relative;
    animation-name: slidein;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes slidein {
    from {
      left: 0;
    }
  
    to {
      left: 50%;
    }
  }

button {
    margin: 4px!important;
} 

.pagination {
  margin: 10px!important;
  justify-content: center!important;
}

.card-body {
    box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
}